/***** BASE STYLES *****/
body {
    font-family: montserrat;
    font-size: 38px;
    background: #FFFFFF;
    text-transform: uppercase;
  }

  #vision-board {

    width: 1200px;
    height: 850px;
    margin: 50px auto;
    overflow : auto;
    background: url('../img/background.png');
    background-size: cover;
}
/***** Block styles *****/

.block {

    outline: 1px dashed darkgreen;
    float : left;
    box-sizing : border-box;
    width: 400px;
}
